<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="grid2.css">
</head>
<body>
    <div class="container">
        <div class="header item">header</div>
        <div class="sidebar-a item">a</div>
        <div class="main-content item">main</div>
        <div class="sidebar-b item">b</div>
        <div class="footer item">footer</div>
    </div>
</body>
</html>