.container {
  box-sizing: border-box;
  background: #eee;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "header header header"
    "a main b"
    "footer footer footer";
  column-gap: 5px;
  row-gap: 10px;
}
.item {
  border: 1px solid #333;
  background: #ffe;
}
.header {
  grid-area: header;
}
.sidebar-a {
  grid-area: a;
}
.main-content {
  grid-area: main;
}
.sidebar-b {
  grid-area: b;
}
.footer {
  grid-area: footer;
}
