<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="menu.css" />
    <title>Menu</title>
  </head>
  <body>
    <div class="container">
      <!-- menu icon -->
      <input type="checkbox" id="menuicon" />
      <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <!-- checkbox -->
      <label class="checkbox">
        <input type="checkbox" />
        <span class="icon"></span>
        <span class="text">약관에 동의합니다</span>
      </label>
    </div>
    <!-- slide -->
    <div class="section">
      <input type="radio" name="slide" id="slide01" checked />
      <input type="radio" name="slide" id="slide02" />
      <input type="radio" name="slide" id="slide03" />
      <div class="slidewrap">
        <ul class="slidelist">
          <li>
            <a
              ><label for="slide03" class="left"></label
              ><img src="../img/slide01.jpg" alt="" /><label
                for="slide02"
                class="right"
              ></label
            ></a>
          </li>
          <li>
            <a
              ><label for="slide01" class="left"></label
              ><img src="../img/slide02.jpg" alt="" /><label
                for="slide03"
                class="right"
              ></label
            ></a>
          </li>
          <li>
            <a
              ><label for="slide02" class="left"></label
              ><img src="../img/slide03.jpg" alt="" /><label
                for="slide01"
                class="right"
              ></label
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
