<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="modal.css">
</head>
<body>
    <button class="btn_open">Open</button>
    <div class="modal hidden">
        <div class="modal_background"></div>
        <div class="modal_content">
            <div class="modal_header">
                <span>Info</span>
            </div>
            <div class="modal_body">
                <span>Are you sure?</span>
            </div>
            <div class="modal_footer">
                <button class="btn_close">Close</button>
            </div>
        </div>
    </div>
</body>
<script src="modal.js"></script>
</html>